
.EcoPulse {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url(img/fundo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  background-size: cover;
  font-size: large;

}

.cabeçalho {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 40px 20px;
}

.descrição {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 40px 20px;

}

.comentarios {
  color: rgb(0, 0, 0);
  text-align: center;
  gap: 20px;
  padding: 40px;

}

.container_bloco {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.bloco {
  background-color: #b0acb56d;
  color: rgb(0, 0, 0);
  width: 250px;
  height: 250px;
  border-radius: 16px;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bloco:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.container-planos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
   padding: 40px 0;
}

.plano {
  background-color: #b0acb56d;
  width: 300px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plano:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.plano h2 {
  margin-bottom: 15px;
  color: #070707;
}

.plano ul {
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
}

.plano p {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 10px;
}

.titulo-planos {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #6a14d4;
}

.botaocriar {
  background-color: #6a14d4;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.3s;
  cursor: pointer;
}

.botaocriar:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

h1 {
  color: #6a14d4;
}

.faq {
  color: #000000;
  margin-top: 1em;
}

.faq-item {
  margin-bottom: 1em;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b0acb56d;
  padding: 1em;
  border-radius: 5px;
}

.forma {
  display: flex;
  justify-content: center;
}

.rodape {
  background-color: aqua;
  padding: 1rem;
  text-align: center;
}

.imglogo {
width: 50%;

}